
<%- include('../partials/header.ejs')%>
<div class = "content">
    <h2>Welcome, <%=user.firstName%></h2>
   <% if(stories.length){%>
        <p>you have created below stories</p>

        <%stories.forEach(story=>{%>
            <a href="/stories/<%=story.id%>"><p><%=story.title%></p></a>
      <%  })

    }else{%>
        <p>you have not created any stories to display</p>
   <% }%>
    </div>
    <%- include('../partials/footer.ejs')%>
